.carrito {
    padding: 4rem 9%;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.carrito-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.cart-box {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    padding: 2rem;
}

.cart-box img {
    width: 15rem;
    height: auto;
    border-radius: 0.5rem;
}

.cart-box .info {
    padding: 1.5rem;
}

.cart-box .info h3 {
    color: #333;
    font-size: 3rem !important;
}

.cart-box .info .price {
    color: #FAC30C;
    font-size: 3rem !important;
}

.btn-comprar {
    margin-top: 2rem;
    padding: 2rem 3rem;
    font-size: 2.5rem;
    background-color: #FAC30C;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #FFAC30;
}