.form {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem auto;
    max-width: 400px;
    text-align: center;

    h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
        border: 0.1rem solid #ccc;
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }

    button {
        width: 100%;
        padding: 1rem;
        background-color: #FAC30C;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
        background-color: #FFAC30;
        }
    }

    #register-firstname,
    #register-lastname {
        text-transform: capitalize;
    }
}