@media screen and (max-width: 768px) {
    /* Estilos para tamaños de pantalla sm (hasta 768px) */
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
    .heading {
        font-size: 3rem;
    }
    .steps .box h3 {
        font-size: 2.5rem;
    }
}
/* @media screen and (min-width: 1360px) and (max-width: 1919px) {
    Estilos para tamaños de pantalla md (1360px a 1919px)
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.5rem solid var(--red);
        background: #fff;
    }
    .home .content h3 {
        font-size: 3.5rem;
    }
} */


@media screen and (min-width: 1920px) {
    /* Estilos para tamaños de pantalla xxl (1920px y superior) */
    html {
        font-size: 55%;
    }
}