section {
    padding: 2rem 9%;
    .heading {
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: -2rem;
        color: #999;
        padding: 8rem 0;
        span {
            color: #FAC30C;
        }
    }

    .nosotros p {
        font-size: 2rem;
        color: #666;
        padding: 0rem 6rem;
        text-align: center;
    }
}